.example-card {
    max-width: 400px;
    margin-bottom: 20px;
   
    margin-left: 450px;
    height: 450px;
  }
  
  .example-header-image {
    
    background-size: cover;
  }
  .image{
      width:200px;
      height: 200px;
      
  }